infra/n8n/workflows/planner-backlog-manager.json
{
  "name": "Planner: Backlog Manager",
  "nodes": [
    {
      "parameters": {},
      "id": "Manual Trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, COUNT(*)::int AS count FROM agent_tasks GROUP BY status ORDER BY status;"
      },
      "id": "Fetch Queue Stats",
      "name": "Fetch Queue Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "AgentTasksPostgres",
          "name": "Agent Tasks Postgres"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const summary = {};\nfor (const item of items) {\n  const status = item.json.status;\n  const count = item.json.count;\n  summary[status] = count;\n}\nreturn [{ json: { summary, pending: summary.pending ?? 0, timestamp: new Date().toISOString() } }];"
      },
      "id": "Summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"pending\"]}}",
              "operation": "less",
              "value2": 3
            }
          ]
        }
      },
      "id": "Backlog Low?",
      "name": "Backlog Low?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Backlog healthy"
            }
          ],
          "json": [
            {
              "name": "summary",
              "value": "={{$json}}"
            }
          ]
        }
      },
      "id": "Set Summary",
      "name": "Set Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Backlog low"
            }
          ],
          "json": [
            {
              "name": "summary",
              "value": "={{$json}}"
            }
          ]
        }
      },
      "id": "Set Low Actions",
      "name": "Set Low Actions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1080,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Queue Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Queue Stats": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Backlog Low?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlog Low?": {
      "main": [
        [
          {
            "node": "Set Low Actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "PlannerBacklogManager",
  "pinData": {}
}